.cards {
  width: 100%;
  background: #fff6f1;
  height: 100vh;

  &__container {
    max-width: 1540px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    column-gap: 40px;
    row-gap: 30px;
    padding: 20px;
  }
}
