@import 'src/styles/palette';
@import 'src/styles/mixins';

.header {
  width: 100%;
  color: $white;
  background: #8d9577;

  &__container {
    @include d-flex(null, space-between, center);
    padding: 20px 22px;
    max-width: 1540px;
    margin: 0 auto;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__basket {
    cursor: pointer;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    &__container {
      padding: 20px 35px 20px 22px;
    }

    &__link {
      padding: 0 10px 0 22px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__container {
      padding: 20px 40px 20px 22px;
    }
  }
}
