@import 'src/styles/palette';
@import 'src/styles/mixins';

.cards {
  height: 300px;
  background: $white;
  border-radius: 6px;
  text-align: center;
  padding: 20px 0 0 0;

  &__block {
    @include d-flex(null, space-between, center);
  }

  &__container {
    padding: 10px 10px 0 10px;
  }

  &__button {
    background: #637338;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__title {
    height: 100px;
    margin: 20px 0;
  }

  &__image {
    height: 80px;
    border-radius: 6px 6px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    width: 200px;
    margin-bottom: 40px;

    &__image {
      height: 60px;
    }
  }
}

@media screen and (max-width: 430px) {
  .cards {
    width: 180px;
    margin-bottom: 40px;

    &__image {
      height: 60px;
    }
  }
}
