@import 'src/styles/palette';

.error {
  background: #fff6f1;
  text-align: center;

  &__container {
    width: 1500px;
    margin: 0 auto;
    background-image: url('src/assets/images/404 1.svg');
    height: 100vh;
    background-size: cover;
    padding-top: 150px;
  }

  &__title {
    color: #404a25;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  &__button {
    color: $white;
    background: #637338;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
